@font-face {
  font-family: "iconfont"; /* Project id 2616811 */
  src: url('iconfont.woff2?t=1624775331260') format('woff2'),
       url('iconfont.woff?t=1624775331260') format('woff'),
       url('iconfont.ttf?t=1624775331260') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e76f";
}

.icon-tuichuquanping1:before {
  content: "\e633";
}

.icon-HAMBURGERMENU:before {
  content: "\e70a";
}

.icon-fullScreen:before {
  content: "\e627";
}

