 .uset{
    text-align: center;
    .el-switch{
      font-size: 18px !important;
    }
    .el-switch__label * {
      font-size: 18px !important;
    }
    .el-switch__core{
      width: 80px;
    }
  }